
module local_policy 1.0;

require {
	type kernel_t;
	type tmpfs_t;
	type bin_t;
	type systemd_logind_t;
	type systemd_cgroups_t;
	type system_dbusd_t;
	class unix_dgram_socket sendto;
	class unix_stream_socket connectto;
	class sock_file { unlink };
	class dir { write remove_name rmdir };
	class file { execute };
}

#============= systemd_cgroups_t ==============
allow systemd_cgroups_t kernel_t:unix_dgram_socket sendto;
allow systemd_cgroups_t kernel_t:unix_stream_socket connectto;

#============= systemd_logind_t ==============
allow systemd_logind_t tmpfs_t:dir { write remove_name rmdir };
allow systemd_logind_t tmpfs_t:sock_file unlink;

#============= system_dbusd_t ==============
allow system_dbusd_t bin_t:file execute;
